<% if (form == 'college') { %>
<div class="flex-col columns-3 border-2 border-black my-2 p-2">
    <div class="break-inside-avoid">
        <form action="/college/add_course" method="post" id="courseForm">
            <p class="font-bold">Manage Courses</p>
            <div>
                <label class="text-black">Course ID</label>
                <select
                    name="course_selected"
                    id="courseSelect"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                >
                    <option value="new">Add New</option>
                </select>
            </div>
            <div hidden>
                <input type="text" name="courseId" id="courseId" />
            </div>
            <div>
                <label class="text-black">Code</label>
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="code"
                    id="code"
                    required
                />
            </div>
            <div>
                <label class="text-black">Title</label>
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="title"
                    id="title"
                    required
                />
            </div>
            <div>
                <input
                    type="reset"
                    class="hover:underline p-2"
                    value="Clear"
                    id="resetCourse"
                />
                <button
                    type="submit"
                    id="submitCourse"
                    class="ring-1 rounded-md ring-black bg-black text-white hover:bg-gray-300 hover:text-black p-1 mr-2"
                >
                    Submit
                </button>
                <button
                    type="submit"
                    id="dropCourse"
                    formaction="drop_course"
                    disabled
                    class="ring-1 rounded-md ring-black bg-red-900 text-white hover:bg-red-600 hover:text-black disabled:hidden p-1"
                >
                    Drop
                </button>
            </div>
        </form>
    </div>
    <div class="break-inside-avoid">
        <form action="/college/add_faculty" method="post" id="facultyForm">
            <p class="font-bold">Manage Faculty</p>
            <div>
                <label class="text-black">Faculty ID</label>
                <select
                    name="faculty_selected"
                    id="facultySelect"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                >
                    <option value="new">Add New</option>
                </select>
            </div>
            <div hidden>
                <input type="text" name="facultyId" id="facultyId" />
            </div>
            <div>
                <label class="text-black">Rank</label>
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="rank"
                    id="rank"
                    required
                />
            </div>
            <div>
                <label class="text-black">Name</label>
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="name"
                    id="name"
                    required
                />
            </div>
            <div>
                <label class="text-black">Nickname</label>
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="nickname"
                    id="nickname"
                />
            </div>
            <div>
                <input
                    type="reset"
                    class="hover:underline p-2"
                    value="Clear"
                    id="resetFaculty"
                />
                <button
                    type="submit"
                    id="submitFaculty"
                    class="ring-1 rounded-md ring-black bg-black text-white hover:bg-gray-300 hover:text-black p-1 mr-2"
                >
                    Submit
                </button>
                <button
                    type="submit"
                    id="dropFaculty"
                    formaction="drop_faculty"
                    disabled
                    class="ring-1 rounded-md ring-black bg-red-900 text-white hover:bg-red-600 hover:text-black disabled:hidden p-1"
                >
                    Drop
                </button>
            </div>
        </form>
    </div>
    <div class="break-inside-avoid">
        <form action="/college/add_schedule" method="post" id="scheduleForm">
            <p class="font-bold">Manage Schedule</p>
            <div>
                <label class="text-black">Schedule ID</label>
                <select
                    name="schedule_selected"
                    id="scheduleSelect"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                >
                    <option value="new">Add New</option>
                </select>
            </div>
            <div hidden>
                <input type="text" name="scheduleId" id="scheduleId" />
            </div>
            <div>
                <label class="text-black">Day</label>
                <select
                    name="day"
                    id="day"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                    required
                >
                    <option value="">------</option>
                    <% const days = ['Monday', 'Tuesday', 'Wednesday',
                    'Thursday', 'Friday', 'Saturday', 'Sunday']; %> <%
                    days.forEach(day => { %>
                    <option value="<%= day %>"><%= day %></option>
                    <% }); %>
                </select>
            </div>
            <div>
                <label class="text-black">Course</label>
                <select
                    name="courseCode"
                    id="courseCode"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                >
                    <option value="">------</option>
                </select>
            </div>
            <div>
                <label class="text-black">Faculty</label>
                <select
                    name="facultyName"
                    id="facultyName"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                >
                    <option value="">------</option>
                </select>
            </div>
            <div>
                <label class="text-black">Room</label>
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="room"
                    id="room"
                    required
                />
            </div>
            <div>
                <label class="text-black">Section</label>
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="section"
                    id="section"
                    required
                />
            </div>
            <div>
                <label class="text-black">Start Time</label>
                <input
                    type="time"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    id="startTime"
                    name="startTime"
                    required
                />
            </div>
            <div>
                <label class="text-black">End Time</label>
                <input
                    type="time"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    id="endTime"
                    name="endTime"
                    required
                />
            </div>
            <div>
                <input
                    type="reset"
                    class="hover:underline p-2"
                    value="Clear"
                    id="resetSchedule"
                />
                <button
                    type="submit"
                    id="submitSchedule"
                    class="ring-1 rounded-md ring-black bg-black text-white hover:bg-gray-300 hover:text-black p-1 mr-2"
                >
                    Submit
                </button>
                <button
                    type="submit"
                    id="dropSchedule"
                    formaction="drop_schedule"
                    disabled
                    class="ring-1 rounded-md ring-black bg-red-900 text-white hover:bg-red-600 hover:text-black disabled:hidden p-1"
                >
                    Drop
                </button>
            </div>
        </form>
    </div>
</div>
<% }; %> <% if (form == 'chat') { %>
<div class="flex-col columns-3 border-2 border-black my-2 p-2">
    <div class="break-inside-avoid-column">
        <form action="/chat/add_corpus" method="post" id="chatForm">
            <p class="font-bold">Manage Queries and Answers Corpus</p>
            <div>
                <label class="text-black">Corpus ID</label>
                <select
                    name="corpus_selected"
                    id="corpusSelect"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                >
                    <option value="new">Add New</option>
                </select>
            </div>
            <div hidden>
                <input type="text" name="corpusId" id="corpusId" />
            </div>
            <div>
                <label class="text-black">Language</label> <br />
                <select
                    name="lang"
                    id="lang"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                >
                    <option value="en">EN</option>
                </select>
            </div>
            <div>
                <label class="text-black">Intent</label> <br />
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="intent"
                    id="intent"
                    placeholder="Leave blank for random"
                />
            </div>
            <div>
                <label class="text-black">Query</label> <br />
                <textarea
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="query"
                    id="query"
                    required
                ></textarea>
            </div>
            <div>
                <label class="text-black">Answer</label> <br />
                <textarea
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="answer"
                    id="answer"
                    required
                ></textarea>
            </div>
            <div>
                <input
                    type="reset"
                    class="hover:underline p-2"
                    value="Clear"
                    id="resetCorpus"
                />
                <button
                    type="submit"
                    id="submitCorpus"
                    class="ring-1 rounded-md ring-black bg-black text-white hover:bg-gray-300 hover:text-black p-1 mr-2"
                >
                    Submit
                </button>
                <button
                    type="submit"
                    id="dropCorpus"
                    formaction="drop_corpus"
                    disabled
                    class="ring-1 rounded-md ring-black bg-red-900 text-white hover:bg-red-600 hover:text-black disabled:hidden p-1"
                >
                    Drop
                </button>
            </div>
        </form>
    </div>
    <div class="break-inside-avoid-column">
        <form action="/chat/add_suggestion" method="post" id="suggestionForm">
            <p class="font-bold">Manage Chat Suggestions</p>
            <div>
                <label class="text-black">Suggestion ID</label>
                <select
                    name="suggestion_selected"
                    id="suggestionSelect"
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                >
                    <option value="new">Add New</option>
                </select>
            </div>
            <div hidden>
                <input type="text" name="suggestionId" id="suggestionId" />
            </div>
            <div>
                <label class="text-black">Category</label> <br />
                <textarea
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="category"
                    id="category"
                    required
                ></textarea>
            </div>
            <div>
                <label class="text-black">Query</label> <br />
                <textarea
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    name="suggestionQuery"
                    id="suggestionQuery"
                    required
                ></textarea>
            </div>
            <div>
                <input
                    type="reset"
                    class="hover:underline p-2"
                    value="Clear"
                    id="resetSuggestion"
                />
                <button
                    type="submit"
                    id="submitSuggestion"
                    class="ring-1 rounded-md ring-black bg-black text-white hover:bg-gray-300 hover:text-black p-1 mr-2"
                >
                    Submit
                </button>
                <button
                    type="submit"
                    id="dropSuggestion"
                    formaction="drop_suggestion"
                    disabled
                    class="ring-1 rounded-md ring-black bg-red-900 text-white hover:bg-red-600 hover:text-black disabled:hidden p-1"
                >
                    Drop
                </button>
            </div>
        </form>
    </div>
    <div class="break-inside-avoid-column">
        <form id="testChatForm">
            <p class="font-bold">Try Queries and Answers</p>
            <label class="text-black">Query</label> <br />
            <textarea
                class="w-auto rounded-md ring-black ring-1 m-2"
                name="message"
                id="message"
            ></textarea>
            <br />
            <label class="text-black">Response</label> <br />
            <textarea
                class="w-auto rounded-md ring-black ring-1 m-2"
                name="response"
                id="response"
                readonly
                disabled
            ></textarea>
            <div>
                <input
                    type="reset"
                    class="hover:underline p-2"
                    value="Clear"
                    id="resetTestChat"
                />
                <button
                    type="button"
                    id="sendChat"
                    class="ring-1 rounded-md ring-black bg-black text-white hover:bg-gray-300 hover:text-black p-1 mr-2"
                >
                    Send
                </button>
            </div>
        </form>
    </div>
    <div class="break-inside-avoid-column">
        <form id="trainNlpForm">
            <p class="font-bold">Train and Check Model</p>
            <label class="text-black">Training Result</label> <br />
            <textarea
                class="w-auto rounded-md ring-black ring-1 m-2"
                name="trainResult"
                id="trainResult"
                readonly
                disabled
            ></textarea>
            <div>
                <button
                    type="button"
                    id="trainNlp"
                    class="ring-1 rounded-md ring-black bg-black text-white hover:bg-gray-300 hover:text-black p-1 mr-2"
                >
                    Train
                </button>
            </div>
        </form>
    </div>
</div>
<% }; %> <% if (form == 'forum') { %>
<div class="flex-col columns-4 border-2 border-black my-2 p-2">
    <div class="break-inside-avoid-column">
        <form method="post">
            <div hidden>
                <input type="text" name="postId" id="postId" />
            </div>
            <div>
                <label class="text-black">Post ID</label>
                <select
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black p-1"
                    id="postSelect"
                >
                    <option value="new">Select Post</option>
                </select>
            </div>
            <div>
                <label class="text-black">Approval</label> <br />
                <select
                    class="w-auto rounded-md ring-black ring-1 m-2 bg-black text-white hover:bg-gray-300 hover:text-black disabled:bg-gray-600 p-1"
                    id="approved"
                    disabled
                >
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div>
                <label class="text-black">Poster</label> <br />
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    id="poster"
                    readonly
                />
            </div>
            <div>
                <label class="text-black">Title</label> <br />
                <input
                    type="text"
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    id="title"
                    readonly
                />
            </div>
            <div>
                <label class="text-black">Content</label>
                <textarea
                    class="w-auto rounded-md ring-black ring-1 m-2"
                    id="content"
                    readonly
                ></textarea>
            </div>

            <div>
                <button
                    type="submit"
                    id="approvePost"
                    formaction=""
                    class="ring-1 rounded-md ring-black bg-black text-white hover:bg-gray-300 hover:text-black disabled:bg-gray-600 p-1 mr-2"
                    disabled
                >
                    Approve
                </button>
                <button
                    type="submit"
                    id="dropPost"
                    formaction=""
                    class="ring-1 rounded-md ring-black bg-red-900 text-white hover:bg-red-600 hover:text-black disabled:hidden p-1"
                    disabled
                >
                    Drop
                </button>
            </div>
        </form>
    </div>
</div>
<% }; %>
