<html>
    <head>
        <title><%= collegeName %> - Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <div
            class="mx-auto flex rounded border-2 border-black w-auto ml-4 mr-4 my-4 p-4"
        >
            <p class="text-black font-medium">Dashboard</p>
        </div>
    </body>
</html>
