<div
    class="flex flex-row rounded border-black border-2 w-auto ml-4 mr-4 my-4 p-4"
>
    <div class="border-2 border-black mr-2">
        <a href="/">
            <img source="college_logo.png" alt="College Logo" />
        </a>
    </div>
    <div class="font-semibold">
        <a class="p-2" href="/">Home</a>
        <a class="p-2" href="/college/manage">College</a>
        <a class="p-2" href="/forum/manage">Forum</a>
        <a class="p-2" href="/">Settings</a>
    </div>
</div>
