<table
    class="border-collapse border-2 border-black w-full text-center"
    id="<%= table %>"
>
    <% if (table == 'course') { %>
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody id="course-table-body"></tbody>
    <% }; %> <% if (table == 'faculty') { %>
    <thead>
        <tr>
            <th>ID</th>
            <th>Rank</th>
            <th>Name</th>
            <th>Nickname</th>
            <th>Schedule</th>
        </tr>
    </thead>
    <tbody id="faculty-table-body"></tbody>
    <% }; %> <% if (table == 'schedule') { %>
    <thead>
        <tr>
            <th>ID</th>
            <th>Day</th>
            <th>Room</th>
            <th>Section</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Faculty Name</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody id="schedule-table-body"></tbody>
    <% }; %> <% if (table == 'corpus') { %>
    <thead>
        <tr>
            <th>ID</th>
            <th>Language</th>
            <th>Intent</th>
            <th>Query</th>
            <th>Answer</th>
            <th>Query Count</th>
        </tr>
    </thead>
    <tbody id="corpus-table-body"></tbody>
    <% }; %> <% if (table == 'unhandled-corpus') { %>
    <thead>
        <tr>
            <th>ID</th>
            <th>Query</th>
        </tr>
    </thead>
    <tbody id="unhandled-corpus-table-body"></tbody>
    <% }; %> <% if (table == 'suggestions') { %>
    <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Query</th>
        </tr>
    </thead>
    <tbody id="suggestions-table-body"></tbody>
    <% }; %> <% if (table == 'forum-posts') { %>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Poster</th>
            <th>Views</th>
            <th>Date Posted</th>
            <th>Approval</th>
        </tr>
    </thead>
    <tbody id="forum-posts-table-body"></tbody>
    <% }; %>
</table>
